<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dyin.dao.DUserMapper" >

  <resultMap id="BaseResultMap" type="com.dyin.pojo.DUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="head" property="head" jdbcType="VARCHAR" />
    <result column="nname" property="nname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, gender, introduce, head, nname
  </sql>

  <select id="login" resultMap="BaseResultMap" parameterType="com.dyin.pojo.DUser" resultType="com.dyin.pojo.DUser" >
    select
    <include refid="Base_Column_List" />
    from duser
    where username = #{username,jdbcType=VARCHAR}
  </select>


  <insert id="register" parameterType="com.dyin.pojo.DUser" >
    insert into duser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="head != null" >
        head,
      </if>
      <if test="nname != null" >
        nname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="head != null" >
        #{head,jdbcType=VARCHAR},
      </if>
      <if test="nname != null" >
        #{nname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="addHead" parameterType="com.dyin.pojo.DUser">
      update duser set  head=#{head,jdbcType=VARCHAR} where username=#{username,jdbcType=VARCHAR}
  </update>


  <update id="edit" parameterType="com.dyin.pojo.DUser" >
    update duser
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="head != null" >
        head = #{head,jdbcType=VARCHAR},
      </if>
      <if test="nname != null" >
        nname = #{nname,jdbcType=VARCHAR},
      </if>
    </set>
    where username=#{username,jdbcType=VARCHAR}
  </update>
</mapper>